In [21]:
import pandas as pd
import numpy as np
import seaborn as sns

In [27]:
titanic = pd.read_csv("C:\\pt\data\\titanic_train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [44]:
from sklearn.base import BaseEstimator

class MyDummyClassifier(BaseEstimator):
    def fit(self, X, y=None):
        pass
    
    def predict(self,X):
        pred = np.zeros((X.shape[0],1))
        for i in range(X.shape[0]):
            if X['sex'].iloc[i] ==1:
                pred[i]=0
            else:
                pred[i]=1
                
        return pred

In [45]:
from sklearn.preprocessing import LabelEncoder

def fillna(df):
    df["Age"].fillna(df['Age'].mean(), inplace=True)
    df["Cabin"].fillna('N', inplace=True)
    df["Embarked"].fillna('N', inplace=True)
    df["Fare"].fillna(0, inplace=True)
    return df

def drop_features(df):
    df.drop(['PassengerId','Name','Ticket'], axis=1, inplace=True)
    return df

def fotmat_features(df):
    df['Cabin'] = df['Cabin'].str[:1]
    features = ['Cabin', 'Sex','Embarked']
    for feature in features:
        le = LabelEncoder()
        le = le.fit(df[feature])
        df[feature] = le.transform(df[feature])
    return df

def transform_features(df):
    df= fillna(df)
    df= drop_features(df)
    df= format_features(df)
    return df

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

y_t = titanic['Survived']
x_t = titanic.drop('Survived', axis=1)
x_t = transform_features(x_t)
x_train, x_test, y_train, y_test = train_test_split(x_t, y_t, test_size=0.2, random_state=0)

KeyError: "['passengeriiId' 'Name' 'Ticket'] not found in axis"